.footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100vw;
  height: auto;

  font-size: 1rem;
  background-color: rgb(46, 45, 45);
  color: $white;
  &__img {
    font-size: 10px;
    width: 30%;
    padding: 30px 25px;
    color: $white;
  }
}
.line1 {
  width: 90%;
  display: flex;
  justify-content: baseline;
  padding: 0 25px;
  &__i {
    padding: 0 20px 20px 0px;
  }
}
.line2 {
  width: 90%;
  display: flex;
  justify-content: baseline;
  padding: 0 25px;
  &__i {
    font-size: 0.8rem;
    padding: 0 17px 20px 0px;
  }
}
.line {
  line-height: 1.8;
  padding: 0 25px;
  &--last {
    margin-bottom: 50px;
  }
}
