$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$color-tertiary: #99e2d0;
$white: white;
$grey: #f2f2f2;
$dark-grey: #222121;
$card-shadow: 0 0.1px 0px 0 rgba(0, 0, 0, 0.19),
  0 0px 0.2px 0 rgba(0, 0, 0, 0.19);
