@mixin card-box {
  display: flex;

  justify-content: space-between;

  width: 90%;
  height: 75px;
  background-color: $white;
  border-radius: 20px;
  padding: 10px;
  margin: 0.5rem auto;

  box-shadow: $card-shadow;
}
@mixin card-menu {
  display: flex;

  justify-content: space-between;

  width: 85%;
  height: 75px;
  background-color: $grey;
  border-radius: 30px;
  padding: 10px 10px 10px 0;
  margin: 0.5rem 0;

  box-shadow: $card-shadow-menu;
}
@mixin meal-name {
  font-weight: 100;
  font-size: 1.5rem;
  margin: 30px 15px 15px;
  border-bottom: 2px solid $color-tertiary;
  width: 13%;
}
@mixin description {
  margin: 0 5px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@mixin price {
  align-self: flex-end;
  margin: 5px;
  font-weight: bolder;
  font-size: 1rem;
}

@mixin heading {
  font-weight: 400;
  font-size: 1.4rem;
}
@mixin byline {
  font-size: 1.1rem;

  font-weight: 100;
}
@mixin price {
  align-self: flex-end;
  margin: 5px;
  font-weight: bolder;
  font-size: 1rem;
}

@mixin menu-titles {
  margin: 35px 15px 25px;
  font-size: 1.5rem;
}
@mixin main-button {
  cursor: pointer;
  width: 100%;
  max-width: 210px;
  height: auto;
  padding: 20px 10px;
  align-self: center;
  margin: 2rem auto;
  border-radius: 50px;
  font-size: 1.5rem;
  color: white;
  border: none;

  background-image: linear-gradient(
    to bottom right,
    $colour-secondary,
    $colour-primary
  );
}
@mixin menu-button {
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 25px 10px;
  align-self: center;
  margin: 2rem;
  border-radius: 50px;
  font-size: 1.5rem;
  color: white;
  border: none;
  transition: transform 500ms ease-in-out;
  background-image: linear-gradient(
    to bottom right,
    $colour-secondary,
    $colour-primary
  );
  &:hover {
    transform: scale(1.12);
  }
}
